<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>checkbox</h1>

        <form method="POST" action="{% url 'select_and_display' %}">
            {% csrf_token %}

            topic_name:
            <br><br>
            {% for to in qsto %}
                <input type="checkbox" name="tn" id="tn" value="{{to.topic_name}}">{{to.topic_name}}
            {% endfor %}



            <br>
            <input type="submit" value="checkbox">





        </form>
    </center>
</body>
</html>